/* Add any additional CSS styles here */
html,body {
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    background-color: #ececec69;
    color: #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #202938;
    text-align: center;
    z-index: 0;
}

header.pad-small, footer.pad-small {
    padding: .5rem;
}

header h1 {
    font-family: "Poppins", sans-serif;
    /* font-family: sans-serif; */
    text-transform: uppercase;
    font-optical-sizing: auto;
    font-weight: 600;
    line-height: 1;
    color: white;
    font-size: 3.4rem;
    /* margin-top: 1.5rem; */
}

h2.slogan {
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    text-align: center;
    color: #fde420;
}

header a {
    text-decoration: none;
}

.hero-section-with-glow {
    background: radial-gradient(at center 50%, rgb(232 230 222 / 27%) 40% 40%, #00000000 60%), #077bc3;
    overflow: hidden;
}
/* 
.section-with-glow {
    background: radial-gradient(at center 50%, rgb(205 170 29 / 27%) 40% 40%, #00000000 60%), #077bc3;
    overflow: hidden;
} */

.pad-basic{
    padding: 12% 1%;
}

.pad-hero{
    padding: 10% 1%;
}

.pad-header {
    padding: 5% 0;
}

.pad-main-title {
    margin-top: 2rem;
}

.pad-contact{
    padding: 2% 0;
}

.pad-sample-proj {
    padding-left: 6%;
    padding-right: 6%;
}

.no-extra-pad p {
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.main-container.contact-bg {
    background-color: rgb(99, 167, 255);
}

.main-container.cards-bg {
    position: relative;
    /* background-color: #1b1f21; */
    background-color: #80929b;
    background-color: #3baaee;
}

img.cards-bg  {
    opacity: 0.2;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: auto; */
    scrollbar-width: none;
    background-color: rgb(99, 167, 255);
}

section.business-cards {
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    align-items: center; /* Center the cards vertically */
    flex-wrap: wrap; /* Allow cards to wrap to the next row on smaller screens */
     /*padding: 20px; Ensure proper spacing inside the section */
    max-width: 100%; /* Prevent overflow */
    overflow-x: scroll; /* Hide any horizontal overflow */
    scrollbar-width: none;
}

/* index.html */
.content-container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
    width: 80%;
    scrollbar-width: none;
    /* background-color: rgb(13, 255, 13); */
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafc;
    background-color: #eff1f7;
    /* height: 100%; */
    /* overflow: auto; */
}

h2.med {
    color: #02679b;
    letter-spacing: 1px;
    font-size: 2rem;
    text-transform: uppercase;
}

.content-container p {
    font-family: "Poppins", serif;
    margin-top: 1rem;
    line-height: 1.3;
    letter-spacing: .7px;
}

p.cta-desc {
    /* color: red; */
    text-align: left;
    font-size: 1.5rem;
    padding-left: 2%;
}

.cta .site-button {
    width: fit-content;
}

.custom-card .cta-small {
    color: #f1f0f1;
    font-size: 1.2rem;
}

.city-bg-image {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-image: url("images/city_spotlight_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
    /* background-color: blue; */
}

/* index-cards.html */

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Carousel Wrapper */
.carousel-wrapper {
    position: relative;
    width: 100%;
}

/* Arrows */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* width: 60px;
    height: 60px; */
    border-radius: 50%;
    line-height: 2;
    border: none;
    /* background: rgba(0, 0, 0, 0.6); */
    background: rgba(255, 255, 255, 0.6);
    color: rgba(32, 32, 32, 0.6);
    /* color: white;   */
    font-size: 40px;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.carousel-btn:hover {
    background: rgba(139, 139, 139, 0.8);
    /* color: rgba(255, 255, 255, 0.343); */
}

/* Positioning */
.left {
    left: 10px;
}

.right {
    right: 10px;
}

.open-up {
    height: 100%;
}


.carousel {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* width: 100%; */
    transition: transform 0.1s ease-in-out;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.308), 
    0 1px 3px rgba(0, 0, 0, 0.433);
    background-color: #282f3b;
}

.card img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-card-container {
    width: 300px;
    height: 400px;
}

.modal-image-card-container {
    width: 100%;
    height: auto;
}

.modal .card {
    max-width: 400px;
    width: 100%;
}

.card-content {
    margin-bottom: 10px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-height: 300px; */
    height: 100%;
    /* background-color: aqua; */
}

.card p {
    margin-top: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 5px;
    border-radius: 2px;
    max-height: 300px;
    height: 100%;
    background-color: #2d2516;
    color: #f2f0f0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.business-name h2 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 1.2rem;
    /* font-style: italic; */
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

.business-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    /* max-height: 100px; */
    height: 3.25rem;
    margin: 10px 0;
    /* background-color: #4caf50; */
    /* background-color: rgb(58, 58, 58); */

}

img.spotlight-logo {
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 75% auto;
    display: block;
    background-color: #e2ca14;
    /* background-color: #f8e10d; */
    /* animation: spotlightPulse 4s ease-in-out infinite; */
}

/* Animation Keyframes */
@keyframes spotlightPulse {
    0% {
        filter: brightness(80%); /* Slightly dimmed */
    }
    50% {
        filter: brightness(120%); /* Slightly brighter */
    }
    100% {
        filter: brightness(80%); /* Back to dimmed */
    }
}

.city-bg-image a{
    width: fit-content;
    margin: 0 auto
}

.custom-card-container {
    margin: 60px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.custom-card {
    /* Other styles like background, padding, border-radius */
    text-align: center;
    width: 100%;
    background-color: #077bc3;
    padding: 1rem; 
    border-radius: 0.75rem; /* rounded-xl */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; /* transition-shadow duration-300 */
}

.custom-card:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); /* shadow-xl */
}

.custom-card h3 {
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .8px;
}

.site-button {
    text-decoration: none;
    padding: 5px 15px;
    width: 100%;
    border: none;
    border-radius: 50px;
    font-size: 1.25rem;
    font-weight: 200;
    text-align: center;
    background-color: #0055ff;
    border: 2px solid #0055ff;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    transition: color 500ms;
    transition: background-color 500ms;
    &&:hover{
        background-color: white;
        border: 2px solid #0055ff;
        color: #0055ff;
    }
    &&:active{
        background-color: #0055ff;
        border: 2px solid #0055ff;
        color:white;
    }
}

.site-button.campaign-btn {
    background-color: #FF5349; /* Green for "Save" action */
    border: 2px solid #FF5349;
    font-size: 1.5rem;
    margin-top: 10px; /* Spacing between buttons */
    &&:hover{
        background-color: white;
        border: 2px solid #FF5349;
        color: #FF5349;
    }
    &&:active{
        background-color: #FF5349;
        border: 2px solid #FF5349;
        color:white;
    }
}

.site-button.save-ad {
    background-color: #28a745; /* Green for "Save" action */
    border: 2px solid #28a745;
    margin-top: 10px; /* Spacing between buttons */
    &&:hover{
        background-color: white;
        border: 2px solid #28a745;
        color: #28a745;
    }
    &&:active{
        background-color: #28a745;
        border: 2px solid #28a745;
        color:white;
    }
}

.save-note {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    text-align: center;
}

.template-container {
    max-width: 800px;
    width: 100%;
    background-color: white;
}

.template-container img {
    width: 100%;
}

.template-container .temp {
    margin: 20px;
}


/* ****************************Modal****************************/
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.94);
    background-color: rgba(255, 132, 0, 0.94);
    background-color: rgba(0, 0, 0, 0.892);
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex; /* Display when active */
}

.modal-content {    
    position: relative;
    background-color: rgba(255, 115, 0, 0.593);
    background-color: rgba(0, 0, 0, 0);
    background-color: red;
    border-radius: 10px;
}

.btn-close {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 3rem;
    font-weight: normal;
    color: rgb(68, 65, 65);
    cursor: pointer;
    background: rgba(89, 89, 89, 0);
    padding: 10px;
    line-height: .5;
    border: none;
    border-radius: 50%;
    z-index: 9999;
    transition: 0.3s;
    &&:hover{
        color: rgb(220, 220, 220);
        transform: scale(1.5);
    }
}

/****************************************************************/
.hide {
    display: none;
}
.current-campaign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0 10px;
}

.campaign {
    /* display: none; */
    padding: 5px 20px;
    width: fit-content;
    background-color: #003F91;
    border-color:  #003F91;
    color: white;
    &&:hover {
        color: white;
        border-color:rgb(80, 86, 7);
        background-color: white;
        color: rgb(80, 86, 7);
    }
    &&:active {
        background-color:  #8F8F64;
        border-color:  #8F8F64;
        color: white;
    }
}

.create {
    margin-top: 30px;
}

.top-mar-small {
    margin-top: 10px;
}

footer {
    width: 100%;
    background-color: #202938;
    color: #696b70;
    font-size: 1rem;
    text-align: center;
}

.smaller {
    margin-top: .5rem;
    font-size: .99rem;
}

.progress {
    height: 20px;
    background-color: #4caf50;
    transition: width 0.5s;
}

div#qr-code-container {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    background-color: #0f1010;
}

img#qr-code {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#qr-close-button {
    border: 0px;
    border-radius: 20px;
    padding: 4px;
    background-color: rgb(97, 97, 97);
    color: rgb(247, 247, 247);
    transition: background-color 500ms;
    &&:hover {
    background-color: rgb(171, 170, 170);
    }
    &&:active {
    background-color: rgb(97, 97, 97);
    }
}

#share-button {
    margin-top: 10px;
    background-color :#838383;
    border-color: #838383;
    color: white;
    &&:hover {
        color: white;
        border-color: #838383;
        background-color: white;
        color: #838383;
        cursor: pointer;
    }
    &&:active {
        border-color: #838383;
        background-color:#838383;
        color: white;
        cursor: pointer;
    }
}

.section-container.form {
    /* z-index: 10; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* background-color: red; */
    overflow: hidden;
}

/*********************** Contact Form ***********************/
/* General styling for the contact section */
.contact-section {
    max-width: 800px; /* Limit width for readability */
    width: 100%;
    height: 100%;
    /* margin-top: 40px; */
    padding: 20px 0;
    background-color: #f5f5f5; /* Light background for contrast */
    border-radius: 10px; /* Rounded corners for a modern look */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center-align text and form elements */
    flex: 1;
    flex-direction: column;
    overflow-y: hidden;
}

/* Styling for the heading */
.contact-section h2 {
    font-family: "Poppins", serif; /* Match your brand font */
    font-weight: 500; /* Bold weight for prominence */
    font-size: 2.5rem; /* Large size for visibility */
    color: #333; /* Neutral color for readability */
    margin-bottom: 1.5rem; /* Space below the heading */
}



.contact-section iframe {
    flex: 1;
    height: 100%;
    width: 100%;
    border: none;
}

.upload-link {
    margin-bottom: 20px;
}

/* Styling for the form */

/************* social links ******************/

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0 0;
}

.social-link {
    display: inline-flex;
    align-items: center; /* Vertically align icon and text */
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    color: #d5d8db;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.social-link i {
    margin-right: 0.5rem; /* Space between icon and text */
    font-size: 2rem; /* Slightly larger icon */
    margin-bottom: 5px;
}

.social-link.facebook {
    display: flex;
    flex-direction: column;
}

.social-link.facebook:hover {
    color: #eed058; /* Your brand color */
}

.rawpixel {
    display: none;
    font-size: x-small;
    color: #838fa3;
}

/***********************Media Queries*************************/

@media (max-width: 900px) {
    .custom-card-container {
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .city-bg-image {
        height: 200px;
    }

    img.spotlight-logo {
        width: 120px;
        height: auto;
        margin: 50% auto;
    }

    .hero-section-with-glow {
        background: radial-gradient(at center 50%, rgb(232 230 222 / 27%) 40% 40%, #00000000 60%), #077bc3;
        overflow: hidden;
    }

    /* .section-with-glow {
        background: radial-gradient(at center 50%, rgb(205 170 29 / 27%) 40% 40%, #00000000 60%), #077bc3;
        overflow: hidden;
    } */

    header h1 {
        font-size: 3rem;
    }

    h2.med {
        font-size: 1.75rem;
    }

    .pad-main-title {
        margin-top: 1.5rem;
    }

    .pad-hero {
        padding: 15% 1%;
    }

    h2.slogan {
        margin-top: 0rem;
        font-size: 1.4rem;
    }

}

@media (min-width: 50px) and (max-width: 600px) {

    header h1 {
        font-size: 2rem;
    }

    .pad-main-title {
        margin-top: .8rem;
    }

    .custom-card h3 {
        font-size: 1.75rem;
    }

    .content-container {
        width: 100%;
        padding: 0 10px;
    }

    p.cta-desc {
        /* color: rgb(17, 192, 195); */
        font-size: 1.3rem;
    }

    .contact-section {
        border-radius: 0;
        margin: 0;
        padding: 15px 0 0;
    }

    .image-card-container {
        width: 300px;
        height: 450px;
    }

    img.spotlight-logo {
        width: 80px;
        height: auto;
    }

    .pad-hero {
        padding: 30% 1%;
    }

    h2.med {
        font-size: 1.5rem;
        letter-spacing: 0;
    }

    h2.slogan {
        font-size: 1rem;
        line-height: 1.25;
    }

    .cta h3 {
        font-size: 1.3rem;
    }

    .city-bg-image {
        max-width: 600px;
        width: 100%;
        margin: 0;
        height: 130px;
    }

    .social-link {
        font-size: .8rem;
        padding: 0;
    }

    .site-button.campaign-btn {
        font-size: 1.3rem;
    }

    footer.small {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) /* 600px wide or wider */{

    header h1 {
        font-size: 2.5rem;
    }

    .modal .card {
        max-width: 250px;
        width: 100%;
    }

    img.profile-picture {
        width: 100px;
        height: 100px;
    }

    .card-content {
        max-height: 250px;
        height: 100%;
    }
    
    .image-card-container {
        width: 300px;
        height: 450px;
    }

    .business-name h2 {
        font-size: 1.3rem;
    }

    .content-container {
        width: 95%;
        justify-content: start;
        /* background-color: green; */
    }

    p.cta-desc {
        /* color: purple; */
        font-size: 1.4rem;
    }

    .btn-close {
        padding: 4px;
        top: 1%;
        right: 1%;
        font-size: 5rem;
    }

    .contact-section {
        border-radius: 0;
        margin: 0;
        padding: 20px 0 0;
    }

    .contact-section h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .social-link {
        font-size: 1rem;
        margin: .5rem 0 .5rem;
    }

    .upload-link {
        margin-bottom: 1rem;
    }

    .social-link.facebook {
        margin: 0;
        padding: 0;
    }

}

@media (max-width: 801px) { /* 801px width and below and below 601px ht */
    
    .modal .card {
        max-width: 350px;
        width: 100%;
    }

}

@media screen and (max-width: 854px) and (max-height: 1400px){ /*below 854px width and below 1281 ht*/
    .modal .card {
        max-width: 350px;
    }
    .image-card-container {
        width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 1200px) and (max-height: 1400px){ /*below 854px width and below 1281 ht*/
    .modal .card {
        max-width: 400px;
    }
    .image-card-container {
        width: 400px;
        height: 500px;
    }
}

@media screen and (max-width: 1200px) and (max-height: 601px){ /*below 854px width and below 601 ht*/
    .modal .card {
        max-width: 400px;
    }
    .image-card-container {
        width: 250px;
        height: 300px;
    }
}

@media (min-height: 720px) and (max-height: 800px) {
    .modal .card {
        max-width: 300px;
    }
}

@media (max-height: 600px) {
    .modal .card {
        max-width: 250px;
    }
    .business-name h2 {
        font-size: 1.3rem;
    }
    .site-button {
        padding: 4px;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    img.profile-picture {
        width: 100px;
        height: auto;
    }

    .image-card-container {
        width: 250px;
        height: 350px;
    }

    
    .slogan h2 {
        font-size: 1rem;
    }
}

@media  (max-width: 431px) /*below 420px*/ {

    header h1{
        font-size: 1.8rem;
        font-weight: normal;
    }

    img.spotlight-logo {
        width: 80px;
        height: auto;
    }

    .modal .card {
        max-width: 320px;
    }

    .image-card-container {
        width: 250px;
        height: 350px;
    }

    .create .site-button {
        padding: 4px 10px;
    }
    
    .social-link.facebook {
        font-size: 1rem;
    }

    .carousel-btn {
        font-size: 30px;
        padding: 2px 25px;
    }
}

@media screen and (max-width: 389px) {

    header h1 {
        font-size: 1.5rem;
    }

    img.spotlight-logo {
        width: 70px;
        height: auto;
    }
    
    .carousel {
        padding-left: 0;
    }
    
    .card-content {
        max-height: 200px;
        height: 100%;
    }
    
    .image-card-container {
        width: 200px;
        height: 300px;
    }

    p.cta-desc {
        /* color: green; */
        font-size: 1.2rem;
    }

    .modal .card {
        width: 270px;
    }

    .card p {
        font-size: .8rem;
        line-height: 1.3;
        letter-spacing: 1.2px;
    }
    
    .business-name {
        max-height: 60px;
    }

    .business-name h2 {
        font-size: 1rem;
    }

    .campaign {
        padding: 4px 8px;
    }

    .site-button {
        padding: 2px;
    }

}


